<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
 
  <display-name>AttendanceSystem</display-name>
   <welcome-file-list>
    <welcome-file>AttendancePage.jsp</welcome-file>
  </welcome-file-list>
  
 <!-- <absolute-ordering>
        <name>spring_web1</name>
        <name>spring_web2</name>
        <name>spring_web3</name>
   </absolute-ordering> -->
  
     <absolute-ordering /> 
  
  <servlet>
    <servlet-name>myFrontController</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>myFrontController</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  
</web-app>